.header {
    display: none;
    padding: 20px 0px;
    color: #ffffff;
    background-color: #F44336;
}
.navbar-inverse .navbar-brand {
    color: #F44336;
}
.bar {
    fill: #F44336;
}
.axis text {
    font: 10px sans-serif;
}
.axis path, .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}
.x.axis path {
    display: none;
}
.btn-download {
    display: inline-block;
    cursor: pointer;
}
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
.help-block-samples {
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
}
.panel-explore, .panel-analyze {
    margin-top: 20px;
}
.list-group-explore {
    max-height: 289px;
    overflow-y: auto;
}
.table-panel {
    margin-bottom: 0px;
}
th {
    white-space: nowrap;
    cursor: pointer;
}
.footer {
    margin-top: 70px;
    padding: 70px 0px;
    color: #ffffff;
    background-color: #101010;
    box-shadow: 0px 500px 0px 500px #101010;
}
@media (min-width: 768px) {
    .form-horizontal .control-label {
        padding-top: 2px;
        margin-bottom: 0;
        text-align: right;
    }
    .header {
        display: block;
    }
    .navbar-brand {
        display: none;
    }
}
