.h4, h4 {
    font-weight: bold;
    margin-top: 20px;
}
.ul, ul, .ol, ol {
    padding-left: 2em;
}
.header {
    display: none;
    padding: 20px 0px;
    color: #ffffff;
    background-color: #F44336;
}
.navbar-inverse .navbar-brand {
    color: #ffffff;
}
.navbar {
    font-size: 14px;
    line-height: 1.4;
}
.form-inline {
    margin-bottom: 20px;
}
.form-inline .form-group > * {
    margin: 0px 3px;
}
@media (min-width: 768px) {
    .form-inline .form-group {
        vertical-align: baseline;
    }
}
.badge {
    vertical-align: bottom;
}
.btn-export {
    cursor: pointer;
}
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
.help-block-samples {
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
}
.panel-explore, .panel-analyze {
    margin-top: 20px;
}
.img-tutorial {
    border: solid 1px #f1f1f1;
    box-shadow: #f1f1f1 1px 1px 1px;
    width: 400px;
    cursor: -webkit-zoom-in;
    cursor: -moz-zoom-in;
    cursor: zoom-in;
}
.list-group-explore {
    max-height: 289px;
    overflow-y: auto;
}
.table-panel {
    margin-bottom: 0px;
}
th {
    white-space: nowrap;
    cursor: pointer;
}
@media screen and (max-width: 767px) {
    .table-responsive {
        margin-bottom: 0px;
    }
}
.code {
    font-family: monospace;
    padding: 16px;
    overflow: auto;
    font-size: 85%;
    line-height: 1.45;
    background-color: #f7f7f7;
    border-radius: 3px;
    word-wrap: normal;
    word-break: normal;
    white-space: pre;
}
.footer {
    margin-top: 70px;
    padding: 70px 0px;
    color: #ffffff;
    background-color: #101010;
    box-shadow: 0px 500px 0px 500px #101010;
}
@media (min-width: 768px) {
    .form-horizontal .control-label {
        padding-top: 2px;
        margin-bottom: 0;
        text-align: right;
    }
    .header {
        display: block;
    }
    .navbar-brand {
        display: none;
    }
}
